.App {
  height: 100vh;
  .main {
    height: 100%;
    position: relative;

    .slider {
      box-shadow: var(--box-shadow);
      .logo {
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .menu {
        //border-inline-end-color: #fff !important;
      }
    }

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      position: sticky;
      z-index: 9999;
      padding-left: 0;
      overflow: hidden;
      .start {
        flex-grow: 3;
        h2 {
          line-height: 0;
        }
      }
      .search-global {
        flex-grow: 1;
        .ant-input-affix-wrapper {
          padding: 7px 11px;
          border: unset;
          background: var(--bg-search);

          &:hover {
            border: 1px solid var(--border-hover-color);
          }

          .ant-input {
            background: var(--bg-search);
          }
        }
      }
      .badge {
        margin-left: 20px;
        line-height: 0;
      }
    }
  }
}
