html {
  --global-theme-primary: 115, 103, 240;
  --high-emphasis-opacity: 0.78;
  --theme-on-background: 47, 43, 61;

  --theme-primary: rgba(115, 103, 240);
  --theme-background: rgba(248, 247, 250);
  --theme-secondary: rgba(168, 170, 174);

  --bg-menu-category: rgb(255, 255, 255);
  --bg-item-category-selected: linear-gradient(
    72.47deg,
    rgb(var(--global-theme-primary)) 22.16%,
    rgba(var(--global-theme-primary), 0.7) 76.47%
  );

  --bg-component: #ffffff;
  --bg-header: rgba(255, 255, 255, 0.95);
  --bg-search: rgba(255, 255, 255, 0.95);

  --border-color: 47, 43, 61;
  --border-opacity: 0.16;
  --border-hover-color: rgba(115, 103, 240);

  --text-color: rgba(var(--theme-on-background), var(--high-emphasis-opacity));
  --text-item-selected: rgb(237, 247, 239);

  --box-shadow-primary: 0 2px 6px rgba(var(--global-theme-primary), 0.48);
  --box-shadow: rgba(47, 43, 61, 0.14) 0px 2px 6px 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
